.profile-keyvisual {
  width: 100%;
  height: 380px;
  background-image: url("../img/front-enter-profile-keyvisual.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: local;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-keyvisual-content {
  font-size: var(--text-size-h2);
  color: white;
  letter-spacing: 10px;
  padding: 15px 30px;
  background: rgb(128, 128, 128, 0.7);
  border-radius: 5px;
}

.profile-information {
  height: auto;

  padding: 40px 0px;
  margin: 50px 0px;

  display: grid;
  grid-template-columns: 10vw 10vw minmax(500px, auto) 10vw 10vw;
}

.profile-information-tag {
  grid-column-start: 2;
  grid-column-end: span 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-information-tag button {
  width: 110px;
  height: 40px;
  font-size: var(--text-size-h4);
  color: white;
  background: var(--primary-color);

  margin-bottom: 20px;
}

.profile-information-tag button:hover {
  background: var(--secondary-color);
}

.profile-information-content {
  grid-column-start: 3;
  grid-column-end: span 1;
  justify-self: center;
}

.content-personal {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-personal-pic {
  width: 120px;
  margin-bottom: 40px;
}

.info-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
}

.info-form-edited,
.info-form-unedited {
  width: 300px;
  height: 30px;
  font-size: var(--text-size-h4);
  color: var(--text-color);
  border-radius: 5px;
  padding-left: 8px;
  letter-spacing: 1px;
  border: 1.5px solid var(--primary-color);
  margin-left: 10px;
}

.info-form-unedited {
  border: none !important;
  background: none !important;
  pointer-events: none;
}

.info-form label {
  font-size: var(--text-size-h3);
}

.info-btn-container {
  display: flex;
  flex-direction: row;
}

.info-btn {
  width: 110px;
  height: 40px;
  font-size: var(--text-size-h4);
  color: white;
  background: var(--primary-color);

  margin: 20px 10px 0px;
}

.info-btn:hover {
  background: var(--secondary-color);
}

.content-collect {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.collect-articlecard {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0px 20px 20px;
}

.collect-pic {
  width: 160px;
  height: 160px;
  background: red;
  margin-bottom: 10px;
  border-radius: 5px;

  /* background-image: url("../img/front-enter-profile-keyvisual.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  transition: transform 0.3s ease-in;
}

.collect-pic:hover {
  transform: scale(1.08);
}

.collect-article-name {
  margin-bottom: 10px;
  color: var(--primary-color);
  cursor: pointer;
}

.collect-article-name:active {
  filter: brightness(120%);
}

.collect-delete-icon {
  width: 20px;
  cursor: pointer;
}

.collect-delete-icon:active {
  filter: brightness(120%);
}

@media (max-width: 1023px) {
  .profile-information {
    grid-template-columns: 10vw auto 10vw;
    padding: 20px;
    margin: 30px 20px;
  }
  .profile-information-tag {
    grid-column-start: 1;
    grid-column-end: span 1;
    justify-self: center;
  }
  .profile-information-content {
    grid-column-start: 2;
    grid-column-end: span 1;
  }
}

@media (max-width: 767px) {
  .profile-information {
    width: auto;
    display: flex;
    flex-direction: column;
  }
  .profile-information-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
  .profile-information-tag button {
    min-width: 60px;
    height: 30px;
    margin: 0px 5vw;
  }
  .profile-information-content {
    grid: none;
  }
  .content-personal-pic {
    width: 100px;
    margin-bottom: 20px;
  }
  .info-form {
    margin-bottom: 10px;
  }
  .info-form-edited,
  .info-form-unedited {
    width: 200px;
    height: 25px;
  }
  .info-btn {
    min-width: 60px;
    height: 30px;
    margin-top: 10px;
  }
  .collect-articlecard {
    margin-bottom: 35px;
  }
}
